* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -45deg,
    rgba(230, 206, 75, 0.842),
    rgba(253, 229, 47, 0.796),
    rgb(198, 162, 45),
    rgb(187, 125, 25)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: 30rem;
  pointer-events: none;
  user-select: none;
}
button {
  outline: none;
  font-size: 30px;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  transition: 200ms ease;
  font-weight: 800;
  border: 2px solid black;
}
button:hover {
  background-color: black;
  color: white;
  font-weight: 900;
}
